<li class="admin-games">
  <img src="{{game.image}}">
  <p>{{game.name}}</p>
  {{update-game game=game updateGame="updateGame"}}
  <button class="delete" {{action 'deleteGame' game}}>Delete Game</button>
</li>
