
{{#link-to 'selectedgame' game.id}}
<div class="game-detail">
  <img class="game-thumbnail" src="{{game.image}}" alt="{{game.name}}" />
  <div class="game-meta">
    <h3>{{game.name}}</h3>
    <p>${{game.price}}</p>
  </div>
</div>
{{/link-to}}
