* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
}
.container {
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $brand-font;
  color: $brand-color;
}
