* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  flex:1;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $brand-font;
  color: $brand-color;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


footer {
  height: 250px;
  margin-top: 50px;
  background: lighten($purple, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-nav{
    display: flex;
    justify-content: space-around;
    a, i {
      font-size: 1.5em;
      font-family: $brand-font;
      color: $brand-color;
    }
  }
}
