* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $background-color;
  color: $text-color;
}
.container {
  max-width: 1200px;
  margin: auto;
  flex:1;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $brand-font;
  color: $brand-color;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


footer {
  height: 100px;
  margin-top: 50px;
  background: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    font-size: 1.5em;
    font-family: $brand-font;
  }
}
