.admin-games  {
  border: 1px solid red;
  display: flex;
  align-items: center;
  margin: 10px 0;
  width: 100%;
  min-height: 50px;
  img {
    width: 50px;
    flex-grow: 1 100%;
    border: 1px solid green;
  }
}

.adminContainer {
  padding: 10px;
  h2 {
    color: $main-color;
    text-decoration: underline;
  }
}
