header {
  min-width: 300px;
  height: 200px;
  display: flex;
  flex-flow: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    justify-content: space-between;
    height: 250px;
    }
  h1 {
    font-size: 2.5em;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      font-size: 4em;
    }
  }
  nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1200px;
    margin-bottom: 25px;
    border: 1px solid red;
    @media screen and (min-width: 768px) {
      flex-flow: row;
      width: 100%;
      align-items: baseline;
      justify-content: space-around;
    }
    a {
      padding: 10px 0;
      font-size: 1.5em;
      font-family: $brand-font;
    }
  }
}
