.selected-game {
  display: flex;
  flex-flow: column;
  padding: 15px;
  img {
    width: 80%;
    height: auto;
    align-self: center;
  }
  h3 {
    font-size: 2em;
    align-self: center;
  }
  span {
    color: $main-color;
    font-size: 1.1em;
    line-height: 1.5;
  }
  button {
    width: 150px;
    height: 50px;
    font-size: 1.2em;
    background: $main-color;
    border:none;
    color: white;
  }
}
