$background-color: #F3F5F7;

$brand-font: 'Play', sans-serif;

$header-font:'Monofett', cursive;

$text-font:  'Gudea', sans-serif;

$brand-color: #01893B;

// 017834

$purple: #9E66FF;

$text-color: #353636;

$nav-bar: #17A398;

$main-color: #17A398;

$h1-bg: #EFE9F4;
