$background-color: #F3F5F7;

$brand-font: 'Play', sans-serif;

$header-font:'Monofett', cursive;

$text-font:  'Gudea', sans-serif;

$brand-color: #65FE8D;

// 017834

$purple: #9E66FF;

$text-color: #353636;

$nav-bar: #D65B00;

$main-color: #55AB44;

$h1-bg: #D65B00;

$delete: #EE6352;

$h1-color: #D8EFF9;

%button {
  width: 150px;
  height: 50px;
  font-size: 1.2em;
  background: $main-color;
  border:none;
  color: white;
}
