<header>
  {{#link-to 'index'}}<h1>Game of Games</h1>{{/link-to}}
  <nav>
    {{#link-to 'boardgames'}}Board Games{{/link-to}}
    {{#link-to 'cart'}}Items in Cart: NaN{{/link-to}}
  </nav>
</header>
<div class="container">
  {{outlet}}
</div>
<footer>
  {{#link-to 'admin'}}Admin{{/link-to}}
</footer>
