<div class="main">
  <header>
    {{#link-to 'index'}}<h1>Game of Games</h1>{{/link-to}}

    <nav>
      {{#link-to 'boardgames'}}Board Games{{/link-to}}
      {{#link-to 'cardgames'}}Card Games{{/link-to}}
      {{#link-to 'tablegame'}}Tabletop RPGs Games{{/link-to}}
      {{cart-quantity}}
    </nav>
  </header>
  <div class="container">
    {{outlet}}
  </div>
  <footer>
    <div class="footer-nav">
      {{#link-to 'admin'}}Admin{{/link-to}}
      <i class="fa fa-facebook"></i>
      <i class="fa fa-instagram"></i>
    </div>
  </footer>
</div>
